@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

